<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>JokeEigo</title>
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
  <link rel="icon" href="/img/favicon.ico">
</head>
<body>
  <header>
      <h1>JokeEigo</h1>
      <% if session[:user] %>
        <p style="color: white;"><a href="/users/<%= session[:user] %>"><%= User.find(session[:user]).name %></a></p>
        <a href="/signout">サインアウト</a>
      <% else %>
        <a href="/signin">サインイン</a>
        <a href="/signin">サインアップ</a>
      <% end %>
  </header>
  <div class="container">
  <% @jokes.each do |joke| %>
    <div class="card">
      <a href="/jokes/<%= joke.id %>">
        <p><%= joke.joke %></p>
        <small style="color: #718096; margin-top: 8px; display: block;"><%= joke.created_at.strftime('%Y年%m月%d日') %></small>
      </a>
    </div>
  <% end %>
  </div>
</body>
</html>
